
.env
.gitattributes
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/MSSBMatchmakingBot.iml
.idea/vcs.xml
client_secret.json
match_Log.txt
__pycache__/characters.cpython-310.pyc
